<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= check_box_tag "completed", "completed", task.completed %>
      <%= link_to task.title, task_path(task) %>
    </li>
  <% end %>
</ul>

<%= link_to '<i class="fas fa-plus"></i> Add a new task'.html_safe, new_task_path %>

